.button {
	border: 1px solid #fff;
	display:inline-block;
	padding: 22px 60px;
	transition: 0.3s ease-in;
	&:hover {
		background-color: #f5d76e;
		border: 1px solid #f5d76e;
		.button__link {
		color: #000;
		}
	}
	&--full-menu {
		width: 236px;
		display: block;
		border: 2px solid #000;
		padding: 22px 60px;
		margin: 57px auto;
		transition: 0.3s ease-in;
		&:hover {
		background-color: #f5d76e;
		border: 2px solid #f5d76e;
		cursor: pointer;
		.button__link {
		color: #000;
		}
	}
	}
}
.button__link {
	text-decoration: none;
	color: #fff;
	font-family: "Lato - Heavy";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.33px;
	&--full-menu {
		color: #39312f;
		font-family: "Lato";
		font-size: 13px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 0.33px;
		color: #000;
		text-decoration: none;
	}
}