.container-fluid
	.footer
		.footer-social-icons
			i.fab.fa-facebook-f.fa-2x(aria-hidden="true").footer-social-icons-item
			i.fab.fa-twitter.fa-2x(aria-hidden="true").footer-social-icons-item
			i.fab.fa-instagram.fa-2x(aria-hidden="true").footer-social-icons-item
		.footer-address.
			St. Thomas street 21st, Suite 110, Santa Monica, California