.header
	.header__logo
		img(src="img/logo/logo.png", alt="").header__logo-img
	.navigation
		a(href="#").navigation__item Home
		a(href="#").navigation__item About As
		a(href="#").navigation__item Menu
		a(href="#").navigation__item Blog
		a(href="#").navigation__item Contact
