.header
	.header__layer
		.navigation__left
			a(href="#").navigation__item Home
			a(href="#").navigation__item About Us
		.header__logo
			img(src="img/logo/logo.png", alt="").header__logo-img
		.navigation__right
			a(href="#").navigation__item Menu
			a(href="#").navigation__item Blog
			a(href="#").navigation__item Contact
	.container
		.row
			.col-md-6
				.header-title-block
					h1.header-title-block__title.
						Welcome to Be Latte
					.header-title-block__subtitle.
						Enjoy of a fresh new approach to coffee. Proin gravida nibh vel velit. Auctor aliquet sollicitudin lorem quis.
					.button
						a(href="#").button__link See Menu
