.container-fluid
	.location
		.location-title Location
		.location-map
			img(src="img/image/houston-city---map-copy-4.jpg", alt="")
			.location-map-card
				.location-map-card-block
					.location-map-card__title Location
					.location-map-card__text
						p Visit us at St. Thomas street 21st, suite 110, Santa Monica, California.
					.location-map-card__title.location-map-card__title--hourse Hours
					.location-map-card__text
						p <strong>Mon - Sat:</strong> 7am - 8pm
						p <strong>Sunday:</strong> 7am - 5pm
					.location-map-card__title.location-map-card__title--happyhour happy hour
					.location-map-card__text
						p <strong>Mon - Fri:</strong> 4pm - 6pm