.container-fluid
	.testimonials-block
		.testimonials-block-image
			img(src="img/bg/realisticshots.png", alt="")
		.testimonials-block-opinion
			.testimonials-block-opinion__avatar
				img(src="img/avatar/brendan-lim.png", alt="")
			.testimonials-block-opinion__name.
				Chris Parker
			.testimonials-block-opinion__text.
				Nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris accumsan.
			.testimonials-block-opinion__pagination
				.testimonials-block-opinion__pagination-item.circle-active
				.testimonials-block-opinion__pagination-item
				.testimonials-block-opinion__pagination-item
include ../elements/divider.pug
