<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="libs/normalize-css/normalize.css")
	link(rel="stylesheet", href="libs/bootstrap-4-grid/grid.css")
	link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
	title BeLatte
body
	include sections/header.pug
	include sections/description.pug
	include sections/menu.pug
	include sections/testimonials.pug
	include sections/location.pug
	include sections/footer.pug
